@model MehanikASP.Models.Service

@{
    ViewData["Title"] = "O servisu";
}

<h1>Podrobnosti</h1>
<a href="/Cars/Details/@Model.Car.Id">    @Html.DisplayFor(model => model.Car.Znamka) @Html.DisplayFor(model => model.Car.Model)</a>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kilometri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kilometri)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OljniFilter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OljniFilter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZracniFilter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZracniFilter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilterGoriva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilterGoriva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilterKabine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilterKabine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZobatiJermen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZobatiJermen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MikroJermen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MikroJermen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opombe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opombe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
        <a href="/Cars/Details/@Model.Car.Id">    @Html.DisplayFor(model => model.Car.Znamka) @Html.DisplayFor(model => model.Car.Model)</a>
        </dd>

         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Stranka)
        </dt>
        <dd class = "col-sm-10">
            <a href="/Customers/Details/@Model.Car.StrankaId">@Html.DisplayFor(model => model.Car.StrankaId)  </a>
            
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Nazaj</a> |
    <a asp-action="Delete"  asp-route-id="@Model.Id" style="color:red;">Izbriši</a>
</div>
