@model IEnumerable<MehanikASP.Models.Service>

@{
    ViewData["Title"] = "Vsi servisi";
}

<h1>Vsi servisi</h1>

<p>
    <a asp-action="Create">Dodaj nov servis</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kilometri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OljniFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZracniFilter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilterGoriva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilterKabine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opombe)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.Car.Znamka)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
              <a href="/Services/Details/@item.Id">  @Html.ValueFor(m => item.Datum,"{0:dd/MM/yyyy}")</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kilometri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OljniFilter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZracniFilter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilterGoriva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilterKabine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opombe)
            </td>
            <td>
                <a href="/Cars/Details/@item.CarId">
                @Html.DisplayFor(modelItem => item.Car.Znamka) @Html.DisplayFor(modelItem => item.Car.Model)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
