@model IEnumerable<MehanikASP.Models.Car>

@{
    ViewData["Title"] = "Vsa vozila";
}

<h1>Vsa vozila</h1>

<p>
    <a asp-action="Create">Dodaj vozilo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Znamka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Letnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipMotorja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegOzn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stranka)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <a href="/Cars/Details/@item.Id">@Html.DisplayFor(modelItem => item.Znamka)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Letnik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipMotorja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegOzn)
            </td>
            <td>
               <a href="/Customers/Details/@item.Stranka.Id"> @Html.DisplayFor(modelItem => item.Stranka.Ime) </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" style="color:red;">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
