@model MehanikASP.Models.Customer

@{
    ViewData["Title"] = "O stranki";
}



<div>
    <h4>Stranka - @Html.DisplayFor(model => model.Ime) </h4>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
    </dl>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Znamka</th>
      <th scope="col">Model</th>
      <th scope="col">Letnik</th>
      <th scope="col">VIN</th>
      <th scope="col">kW</th>
      <th scope="col">Tip Motorja</th>
      <th scope="col">Registerska Oznaka</th>
    </tr>
  </thead>
  

        @foreach (var item in Model.Cars)
        {
            <tbody>
                <tr>
      <th scope="row"><a href="/Cars/Details/@item.Id"> @item.Znamka</a> </th>
      <td>@item.Model</td>
      <td> @item.Letnik </td>
      <td>@item.VIN </td>
      <td>@item.kW</td>
      <td>@item.TipMotorja</td>
      <td>@item.RegOzn</td>
    </tr>
    
  </tbody>
    
        

    
}
</table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi Stranko</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id" style="color:red;">Izbriši stranko</a> |
    <a asp-action="AddCarToCustomer" asp-route-id="@Model.Id">Dodaj Vozilo</a> |
    <a asp-action="Index">Nazaj</a>
</div>
