@model IEnumerable<MehanikASP.Models.Customer>

@{
    ViewData["Title"] = "Vse stranke";
}

<h1>Vse stranke</h1> 

<h8>
    <a asp-action="Create">Dodaj novo stranko</a>
</h8>

<form asp-controller="Customers" asp-action="Index">

            <div class="input-group" style="margin:20px; width:50%;">
                <input type="search" class="form-control rounded" placeholder="Poišči stranko" aria-label="Search" aria-describedby="search-addon" name="SearchString" />
                <button type="submit" class="btn btn-outline-primary" name="SearchString">Išči</button>
            </div>
 
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               <a href="/Customers/Details/@item.Id">  @Html.DisplayFor(modelItem => item.Ime)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a> |
                <a asp-action="AddCarToCustomer" asp-route-id="@item.Id">Dodaj Vozilo</a>
            </td>
        </tr>
}
    </tbody>
</table>
